{% extends 'peopleconnect/base.html' %}
{% load static %}


{% block content %}
      <main class="col-span-10 bg-white py-4 mt-1">
        <div class="fixed z-50 inset-0 bg-gray-900 bg-opacity-50 transition-opacity" aria-hidden="true"></div>


        <div class="fixed z-50 inset-0 overflow-y-auto" aria-modal="true" role="dialog" aria-labelledby="modal-title">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white rounded-lg overflow-hidden shadow-xl px-6 py-4 mx-2 max-w-md w-full">
            
            <div class="text-xl font-bold mb-2" id="modal-title">Are you sure ?</div>
            
            <p class="text-gray-600 mb-4">You're about to delete Leave Request</p>
            
            
            <div class="flex justify-start">
              <form method="POST">
                {% csrf_token %}
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg mr-2">Confirm</button>
              </form>
              <form action="{% url 'Leave' %}">
                {% csrf_token %}
                <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-lg">Cancel</button>
              </form>
            </div>
            </div>
            
        </div>
        </div>
      </main>

{% endblock %}
    